- var color=wd_color
- var _version = "v" + version
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://cdn.tailwindcss.com')
  body(class='bg-zinc-700').overflow-hidden
    // menu
    nav(class=`bg-${wd_color}-100`).sticky.top-0
      if isLogged
        a(class=`hover:font-bold hover:underline text-${wd_color}-800` href='/').cursor-pointer.px-2.py1 Inicio
      else
        a(class=`hover:font-bold hover:underline text-${wd_color}-800` href='/usuario/login').cursor-pointer.px-2.py1 Iniciar Sesión
      if isLogged
        a(class=`hover:font-bold hover:underline text-${wd_color}-800` href='/blog/nuevo').cursor-pointer.px-2.py1 Nuevo Mensaje
      if isAdmin
        a(class=`hover:font-bold hover:underline text-${wd_color}-800` href='/admin/usuarios').cursor-pointer.px-2.py1 Usuarios
      if !isLogged || isAdmin
        a(class=`hover:font-bold hover:underline text-${wd_color}-800` href='/usuario/registro').cursor-pointer.px-2.py1 Registrar Usuario
      if isLogged
        a(class=`hover:font-bold hover:underline text-${wd_color}-800` href='/usuario/logout').cursor-pointer.px-2.py1 Cerrar Sesión

    block content
    div(class='fixed bottom-0 left-0 right-0 text-right')
      label.p-1.text-orange-50= _version
    block body_script
